:root {
    /* header Page */
    --clr-bg: #ededed;
    --clr-cards: #fff;
    --clr-logo: #303031;
    --clr-menu: #303031;
    --clr-menu-active: #71A894;
    --clr-h1: #303031;
    --clr-p: #66645E;
    --clr-p-btn: #fff;
    --clr-btn: #71A894;
    --clr-star: #F5C64F;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {font-family: 'Fugaz One', cursive; color: var(--clr-h1);}

header {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* NAV */

.logo {
    margin: 1.3rem 0;
}
.logo a{
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-logo);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
}
.nav-links {
    padding: 0;
}
.nav-links li{
    display: inline-block;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: var(--clr-menu);
    font-size: 1.25rem;
}
.nav-links li:last-child a{
    color: var(--clr-menu-active);
}
.nav-toggle {
    position: absolute;
    display: none;
    right: 1rem;
    top: 1.5rem;
}
.nav-toggle img {
    width: 20px;
    height: 20px;
}

.open {
    height: 70%;
}
.hidden {
    display: none;
}
/* header SECTION */

    section {
    margin-top: 2rem;
    text-align: center;
    }
    section h1 {
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 0;
    }
    section p {
        padding: 1rem 0;
        text-align: center;  
        line-height: 2rem;
        color: var(--clr-p);
        max-width: 30rem;
        margin: 0 auto;

    }
    
    .btn {
        display: block;
        margin: 1rem auto;
        padding: 1rem 0;
        width: 80%;
        max-width: 15rem;
        border: 1px solid var(--clr-menu-active);
        border-radius: 10px;
        background-color: var(--clr-menu-active);
    }
    .btn a {
        padding: 1rem;
        text-decoration: none;
        color: var(--clr-p-btn);
    }

    .header-illustration {
    background-image: url(img/illustration1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65%;
    width: 90vw;
    height: 70vh;
}
@media all and (max-width: 719px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 300ms height ease-in-out;
    }
    .nav-links {
        margin: 2rem auto;
        width: 100%;
    }
    .nav-links li {
        display: block;
        padding: 2rem 0;
        text-align: center;
    }
    .nav-toggle {
        display: block;
        cursor: pointer;
    }

}

@media all and (min-width:720px) {
    nav {
    display:block;
    margin-top: 6rem;
    text-align: center;
    width: 100%;
    }
    .nav-links {
    margin: 1rem auto;
    }
    .navbar a {
    display: block;
    padding: 1rem;
    }
    .logo {
    margin: 1rem auto;
    text-align: center;
    padding: 1rem 0;
    width: 35%;   
 }
    .logo a {
    padding: 0;
    }
    section {
    display: inline-block;
    width: 100%;
    }
    section h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
    font-weight: bold;
    width: 50%;
    }
    section p {
    text-align: left;  
    font-size: 1.25rem;
    width: 45%;
    font-weight: 400;
    margin: 0;
    }
    .btn {
    float: left;

    }
    .header-illustration {
    float: right;
    position: absolute;
    top: 20%;
    right: 0;
    width: 50%;
    z-index: -1;
    }
}
 @media all and (min-width:900px) {
    section {
    display: inline-block;
    width: 50%;
    }
    section h1 {
    font-size: clamp(2.5rem, 3.5vw, 4.5rem );    
    line-height: 4rem;
    text-align: left;
    font-weight: bold;
    width: 75%;
    }
    section p {
    text-align: left;  
    font-size: 1.5rem;
    width: 75%;
    font-weight: 400;
    }
    .btn {
    float: left;

    }
    .header-illustration {
    float: right;
    position: absolute;
    top: 25%;
    right: 0;
    max-width: 60%;
    }
}
@media all and (min-width:1100px) {
    nav {
    display:inline-block;
    text-align: right;
    }
    .navbar {
    display: inline-block;
    max-width: 75%;
    float: right;
    }
    .navbar li:last-child {
    margin-right: 0;
    padding-right: 0;
    }
    .navbar a {
    display: block;
    padding: 1rem;
    }
    .logo {
    margin-top: 1rem;
    padding: 1rem 0;
    max-width: 25%;
    display: inline-block;
    }
    .logo a {
    padding: 0;
    }
    .header-illustration {
    top: 20%;
    max-width: 60%;
    }
    section h1 {
    margin-top: 9rem;
    }
}
/* header PAGE CONTENT*/
/* Cards */
main {
    width: 100%;
    background-color: var(--clr-bg);
}
#article__cards {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
}
.cards__title{
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin-top: 2rem;
}
.cards__title h2,p{
    text-align: center;
    padding: .5rem 0;
    margin: 0 auto;
}
.cards__title h2 {
    width: 70%;
    font-size: 1.7rem;
}
.cards__title p {
    width: 90%;
    max-width: 60rem;
    line-height: 1.5rem;
}
.cards {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.card {
    background-color: var(--clr-cards);
    border-radius: 10px;
    width: 70%;
    max-width: 30rem;
    margin-top: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    justify-content: center;
    align-self: center;
}
.card h3 {
    font-size: 1.5rem;
}
.card p {
    color: var(--clr-p);
    max-width: 20rem;
}
/* MEMBERS */
#members {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
    padding-bottom: 2rem;
}
.members__title {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
}
.members__title h2,p {
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
}
.members__title img {
    display: block;
    margin: 0 auto;
}
.members__title h2 {
    width: 70%;
    font-size: 1.7rem;
    line-height: 1.7rem;
}
.members__title p {
    width: 85%;
    max-width: 60rem;
    line-height: 1.5rem;
}
.members__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90%;
    max-width: 60rem;
    background-color: var(--clr-cards);
    border: 2px solid #000;
    -webkit-box-shadow: 12px 14px 0px -1px var(--clr-menu-active); 
box-shadow: 12px 14px 0px -1px var(--clr-menu-active);
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 1rem;
}
.members__table h3 {
    text-align: center;
}
.members {
    padding: 1rem;
    display: flex;
    flex-direction: row;

}
.members> * {
    justify-content: center;
    align-self: center;
}

.members p:last-child{
    font-style: italic;
}

#investors {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
    padding-bottom: 2rem;
}
.investors__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90%;
    max-width: 60rem;
    background-color: var(--clr-cards);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 1rem;
}
.investor {
    padding: 1rem;
}
.investor h3 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}
.investor span {
    display: block;
    text-align: center;
    font-size: .9rem;
    width: 100%;
    text-align: center;
}
.investor p {
    text-align: left;
    margin: .5rem auto;
}
.investor img {
    display: inline-block;
    float: left;
    width: 20%;
}
.investor__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    float: left;
    margin-bottom: 1rem;
}
.investor__table p {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0;
    padding: .5rem;
    text-align: center;
    font-weight: 300;
}
.investor__btn {
    display: block;
    margin: 1rem auto;
    padding: 1rem 0;
    width: 80%;
    max-width: 15rem;
    border: 1px solid var(--clr-h1);
    border-radius: 10px;
    background-color: var(--clr-h1);
}
.investor__btn a{
    color: var(--clr-p-btn);
    text-decoration: none;
    padding: 1rem;
}
.investors__title {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
}
.investors__title h2,p {
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
}
.investors__title img {
    display: block;
    margin: 0 auto;
}
.investors__title h2 {
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.investors__title p {
    width: 85%;
    max-width: 60rem;
    line-height: 1.5rem;
}

#sectionfour {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
    padding-bottom: 2rem;
}
.secfour__title {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
}
.secfour__title h2,p {
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
}
.secfour__title img {
    display: block;
    margin: 0 auto;
}
.secfour__title h2 {
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.secfour__title p {
    width: 85%;
    max-width: 60rem;
    line-height: 1.5rem;
}
.secfour__table__one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90%;
    max-width: 60rem;
    background-color: var(--clr-cards);
    border: 2px solid #000;
    -webkit-box-shadow: 12px 14px 0px -1px var(--clr-menu-active); 
box-shadow: 12px 14px 0px -1px var(--clr-menu-active);
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 1rem;
}
.secfour__table__one h3 {
    font-size: 1.1rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.secfour__table__one-txt p {
    width: 100%;
}
.secfour__table__one button {
    display: block;
    margin: 1rem auto;
    padding: .5rem 0;
    width: 30%;
    max-width: 15rem;
    border-radius: 20px;
    background-color: var(--clr-menu-active);
    color: var(--clr-p-btn);
    font-size: .8rem;
}


.secfour__table__two {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
}
.secfour__table__two__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90%;
    max-width: 60rem;
    background-color: var(--clr-cards);
    border: 2px solid #000;
    -webkit-box-shadow: 12px 14px 0px -1px var(--clr-menu-active); 
    box-shadow: 12px 14px 0px -1px var(--clr-menu-active);
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 3rem;
}
.secfour__table__two__table h3 {
    text-align: center;
    font-size: 1.2rem;
}
.secfour__members {
    padding: 1rem;
    display: flex;
    flex-direction: row;

}
.secfour__members > * {
    justify-content: center;
    align-self: center;
}
.secfour__members i {
    color: var(--clr-star);
}
.section-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--clr-bg);
    margin-top: 0;
}
.section-bottom h2{
    width: 80%;
    padding: 2rem 0;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.section-bottom p{
    width: 85%;
    max-width: 60rem;
    justify-content: center;
    align-self: center;
    line-height: 1.5rem;
}
.card button {
        display: block;
    margin: 1rem auto;
    padding: .5rem 0;
    width: 30%;
    max-width: 15rem;
    border-radius: 20px;
    background-color: var(--clr-menu-active);
    color: var(--clr-p-btn);
    font-size: .8rem;
}
.card button, span {
    display: inline-block;
    width: 50%;
    padding-top: .5rem;
}
.section-bottom__btn {
        display: block;
        margin: 1rem auto;
        padding: 1rem 0;
        width: 80%;
        max-width: 15rem;
        border: 1px solid var(--clr-h1);
        border-radius: 10px;
        background-color: var(--clr-h1);
        color: var(--clr-p-btn);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;

}

#sectionlast {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
    margin: 0;
}
.last {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.last h2 {
    width: 80%;
    padding: 2rem 0;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.last p {
    width: 85%;
    max-width: 60rem;
    justify-content: center;
    align-self: center;
    line-height: 1.5rem;
}
.last-illustration {
    background-image: url(img/illustration2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
}

footer {
    background-color: var(--clr-bg);
    max-width: 60rem;
    margin: 0 auto;
}
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-links li{
    padding: 1rem 0;
    display: inline-block;
    list-style: none;
}
.footer-links a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--clr-menu);
    font-size: 1.25rem;
}
.footer-links li:first-child a{
    color: var(--clr-menu-active);
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-self: center;
}
.footer-logo a {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-logo);
}